/****** ESTRUTURA DO HTML *****/
.layout {
    width: 100%;
    height: auto;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    grid-template-areas: 
        "titulo"
        "grid"
        "autoria";
    grid-template-columns: auto;
    grid-template-rows: 50px;
}

.titulo {

}

.grid {

}

.g1 {

}

.autoria {

}

/****** DEFININDO A PALETA DE CORES *****/
.branco {
    background: #F0F0F0;
}

.preto {

}

.cinza {

}

.cor_de_pele {

}

.cor_de_pele {

}

.marrom {

}

.laranja {

}

.amarelo {

}

.vermelho {

}

.roxo {

}

.rosa {

}

.azul {

}

.verde {

}