/****** ESTRUTURA DO HTML *****/
.layout {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.titulo {

}

.grid {

}

.g1 {

}

.autoria {

}

/****** DEFININDO A PALETA DE CORES *****/
.branco {
    background: #F0F0F0;
}

.preto {

}

.cinza {

}

.cor_de_pele {

}

.cor_de_pele {

}

.marrom {

}

.laranja {

}

.amarelo {

}

.vermelho {

}

.roxo {

}

.rosa {

}

.azul {

}

.verde {

}