/****** ESTRUTURA DO HTML *****/
html, body {
    margin: 0;
    padding: 0;
}

.layout {
    background: #f9f9f9;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    grid-template-areas: 
        "titulo"
        "grid"
        "autoria";
    grid-template-columns: auto;
    grid-template-rows: 60px auto 50px;
}

.titulo {
    grid-area: titulo;
    background-image: radial-gradient(#f9f9f9, #cfcfcf, #303030 80%);
    display: flex;
    align-items: center;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}

main {
    display: block;
}

.grid {
    grid-area: grid;
    background-image: linear-gradient( #f9f9f9, #cfcfcf, #5f5f5f);
    height: calc(100vh - 110px);
}

.caixa_clara, .caixa_escura {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    border: 2px solid #cfcfcf;
    width: 100%;
    font-weight: bolder;
    font-size: 14px;
}

.caixa_clara {
    color: #303030;
}

.caixa_escura {
    color: #f9f9f9;
}

.color {
    display: grid;
    margin: 20px 0;
    grid-gap: 20px 50px;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(6, 10%);
    grid-template-rows: repeat(4, 100px);
    font-weight: bolder;
}

.autoria {
    grid-area: autoria;
    background: #303030;
    color: #f9f9f9;
    font-size: 12px;
    text-align: center;
}

h5 {
    font-family: 'Edwardian Script ITC';
    font-size: 25px;
    padding-top: .2rem;
}

/****** DEFININDO A PALETA DE CORES *****/

/* LAYOUT em uma linha: 
    grid-area: start-row / start-column / end-row / end-column;
*/
.branco {
    background: #f9f9f9;
    grid-area: 1 / 1 / 2 / 2;
}

.preto {
    background: #303030;
    grid-area: 2 / 1 / 3 / 2;
}

.cinza_claro {
    background-color: #cfcfcf;
    grid-area: 1 / 2 / 2 / 3;
}

.cinza_escuro {
    background: #5f5f5f;
    grid-area: 2 / 2 / 3 / 3;
}

.pele_clara {
    background: #e0c0b0;
    grid-area: 1 / 3 / 2 / 4;
}

.pele_escura {
    background: #604040;
    grid-area: 2 / 3 / 3 / 4;
}

.marrom_claro {
    background: #bf8f7f;
    grid-area: 1 / 4 / 2 / 5;
}

.marrom_escuro {
    background: #403020;
    grid-area: 2 / 4 / 3 / 5;
}

.laranja_claro {
    background: #efbf8f;
    grid-area: 1 / 5 / 2 / 6;
}

.laranja_escuro {
    background-color: #903010;
    grid-area: 2 / 5 / 3 / 6;
}

.amarelo_claro {
    background: #ffff9f;
    grid-area: 1 / 6 / 2 / 7;
}

.amarelo_escuro {
    background: #908000;
    grid-area: 2 / 6 / 3 / 7;
}

.vermelho_claro {
    background-color: #ff9faf;
    grid-area: 3 / 1 / 4 / 2;
}

.vermelho_escuro {
    background: #501010;
    grid-area: 4 / 1 / 5 / 2;
}

.roxo_claro {
    background: #efafff;
    grid-area: 3 / 2 / 4 / 3;
}

.roxo_escuro {
    background: #600070;
    grid-area: 4 / 2 / 5 / 3;
}

.rosa_claro {
    background: #ffafcf;
    grid-area: 3 / 3 / 4 / 4;
}

.rosa_escuro {
    background: #904060;
    grid-area: 4 / 3 / 5 / 4;
}

.azul_claro {
    background: #afdfff;
    grid-area: 3 / 4 / 4 / 5;
}

.azul_escuro {
    background: #003060;
    grid-area: 4 / 4 / 5 / 5;
}

.verde_claro {
    background: #afefaf;
    grid-area: 3 / 5 / 4 / 6;
}

.verde_escuro {
    background: #004000;
    grid-area: 4 / 5 / 5 / 6;
}